@{
    ViewBag.Title = "Secure Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>This is an authorized page</h2>
        <p>
            Means that the page REQUIRES authentication.
        </p>
    </div>
</div>
